services:
  - type: web
    name: mood-backend
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python main.py"
    envVars:
      - key: PORT
        value: 10000
    autoDeploy: true
    rootDir: backend
